/* *{
    margin: 0;
    padding: 0;
} */



body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
       
        margin: 0 auto;
}

#logo {
    width: 170px;
    /* height: 150px; */
}


.header {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7);
    display: flex;
}

header {
    padding: 15px 0;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7);
    height: 30%;

}

header h1 {
    color: rgb(26, 153, 142);
    font-size: 60px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    bottom: 80px;
    margin-left: 20px;
    text-shadow: -1px 2px 1px rgba(108, 83, 144, 0.6);
    letter-spacing: 1px;
    font-family: 'Berkshire Swash', cursive;
    
} 

 nav {
    background-color: #975785;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
     display: flex;
    margin: 0;
    padding: 0; 
}

nav ul li {
    flex-grow: 1;
}

nav ul a {
    color: white;
    text-decoration: none;
    /* margin: 10px; */
    padding: 10px;
    display: block;
    text-align: center;
    letter-spacing: 2px;
} 

nav ul li a:hover {
    background-color: #d299c2;
}

footer {
    background-color: grey;
    color: black;
    text-align: center;
    padding: 25px;
}

.contenedor {
    max-width: 960px;
    margin: 0 auto;

}

nav ul li a.activo {
    background-color: #6d4f64;
}

main img {
    max-width: 100%;
    max-height: 300px;
    padding: 20px;
}

main h2 {
    font-weight: 500;
    color: #975785;
    letter-spacing: 2px;
}

.somos {
    box-sizing: border-box;
    width: 80%;
    padding-left: 20px;
    letter-spacing: 1px;
    /* background-color: orange; */
}

/* fin de home---------------------------------------- */

/* inicio de nosotros------------------------------------------ */

.contenedor-imagen {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.texto {
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.425);
    align-items: center;
}

div .imagen {
    border-radius: 143px 0px 129px 130px;
    width: 150px;
    height: 150px;
}

.colaboradores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: rgba(255, 0, 0, 0.822); */
    margin: 50px;

}

.persona {
    border: 1px solid grey;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.persona h6 {
    color: rgb(97, 61, 97);
    font-style: italic;
}

/* fin de Nosotros------------------------------------------------------ */
/* Inicio de Noticias ------------------------------------------------ */

.noticias img {
    border-radius: 15px;
    max-width: 95%;
    display: inline-block;

}

.noticias {
    border: 1px solid grey;
    /* align-items: center; */
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    
    padding-top: 0px;
    background-color: rgba(167, 31, 31, 0.39);
    margin-bottom: 5px;



}

main h2 {
    font-weight: 800;
    letter-spacing: 2px;
}

.noticias h3 {
    color: #975785;
    font-weight: 500;
    border-bottom: 1px double #975785;
}

/* Fin de Noticias ------------------------------------------------ */
/* inicio de contacto--------------------------------------------- */
.icono {
    width: 25px;
    color: #975785;
}

.enviar {
    color: white;
    background-color: #d299c2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(163, 97, 154, 0.75);
    border: 1px solid #d299c2;
    cursor: pointer;
    transition: all 0.6s ease 0.2s;

}

.enviar:hover {
    background-color: #691050af;


}


/* SITIO RESPONSIVO --------------------------------------------------------------------------------------*/


@media (max-width: 920px){
    .contenedor .mariposa {
       
        padding: 0px;
        }
    .contenedor-imagen img {
            padding: 0px;
        }
    .somos {
            align-items: end;
            margin: 50px;
        }
    .texto {
        top: 2%;
        left: 5%;
        line-height: 90%;
    }

    div h2 {
        padding-left: 5px;
    }

    .formulario {
        padding-left: 10px;
        
    }
    .bosque {
        padding: 0px;
    }
}

@media (max-width: 600px){
    nav ul {
        display: block;
    }

   
    header h1 {
        display: flex;
        line-height: 90%;
        font-size: 45px;
        padding-top: 10px;
    
    }
    #logo {
        width: 30%;
        margin-bottom: 20px;
    }

    .noticias img {
        min-width: 95%;
        display: block;
    }
    .noticias {
        flex-direction: column;
    }
    .contenedor h2 {
        padding-left: 10px;
    }

    /* .contenedor .texto {
        width: 90%;
        top: 5%;
        left: 8%;
    } */
    
    .texto {
        
        
        font-size: 250%;
        line-height: normal;
        text-align: center;
    }

    
    
    div h2 {
        line-height: normal;
    }
}

@media (max-width: 360px) {
    .texto {
            font-size: 150%;
            
            line-height: normal;
    }
    
    .somos h2 {
        line-height: 30px;
    }
    .somos {
        align-items: end;
        margin: 10px;
    }
    div h2 {
        padding-left: 3px ;
    }
}